/* Space out content a bit */
#map {
  height: 1200px;
  width: 100%;
}

.route-info {
  min-height: 70px;
  padding-bottom: 0.8em;
}

.route-info-buttons {
  text-align: center;
}

.route-info-itens {
  padding: 0.5em 0;
}

.alert{
  margin-bottom: 0 !important;
 }

.leaflet-routing-container {
  margin: 7em 3em 0 0  !important;
  overflow-y: auto;
  max-height: 40em;
  min-width: 15em;
}

/*Leaflet Routin container padding to exhb*/
.leaflet-routing-alt{
  padding: 1em;
}

.leaflet-routing-container {
  background-color: #fff;
}

.ui-autocomplete {
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  max-width: 450px;
  background-color: #fff;
}
