<div ng-controller="SearchCtrl">
    <form class="well form-search">

        <!-- A ser excluído -->
        <label>Seleção de dados para Cruzamento (TERRA INDÍGENA x DADOS DO DETER)</label>
        <br />
        <br />
        <!-- -->

        <label>Informe o período desejado: </label>
        <select ng-model="month" ng-options="month for month in months"></select>
        <select ng-model="year" ng-options="year for year in years"></select>
        <!-- <select ng-model="local" ng-options="local for local in locals"></select> -->

        <button type="submit" class="btn" ng-click="search()">Search</button>

    </form>

    <pre ng-show="download"  ng-model="result">
        <a ng-show="download" ng-href="{{result}}">DOWNLOAD SHAPEFILE</a>
    </pre>

    <div ng-show="loading" style="margin-left: 45%">
        <img src="images/loading.gif" style="position:absolute; float: center" /><br /> <br />
        <tt style="margin-left: -7%">Gerando shapefile</tt>
    </div>

    <div ng-show="errorMSG" ng-model="errorMSG" >
        <div class="alert alert-danger" role="alert" >
            <tt>O Cruzamento selecionado não possui shapefile válido</tt>
        </div>
    </div>

</div>

