<div class="route-info alert alert-{{class}}">
  <div class="col-md-9 col-xs-12">
    <p >{{message}}</p>
  </div>
  <div class="route-info-buttons route-info-itens col-md-3 col-xs-12" ng-hide="routeExists">
    <a class="btn btn-primary" ng-click="sendRoute()" 
    tabindex="0" data-toggle="popover" id="popoverNoRoute" 
    data-content="Traçar rota válida" 
    data-placement="left">Gravar Rota <span class="glyphicon glyphicon-ok"></span></a>
    <a class="btn btn-warning" ng-click="clearMarkers()">Limpar <span class="glyphicon glyphicon-erase"></span></a>
  </div>
</div>

<div resizable ng-style="{ width: windowWidth, height: windowHeight}" id="map"></div>
