<div class="route-info alert-{{class}}">
  <div class="message col-md-9 col-xs-12">
    <h4>{{message}}</h4>
  </div>

  <div class="route-info-itens col-md-3 col-xs-12 route-info-buttons" ng-hide="routeExists">
    <div class="route-info-itens">
      <button class="btn btn-primary" ng-click="sendRoute()" tabindex="0"
        data-toggle="popover" id="popoverNoRoute" data-placement="left"
        data-content="Trace uma rota válida." data-trigger="focus">
        <span class="glyphicon glyphicon-ok"></span> Gravar Rota
      </button>
      <button class="btn btn-warning" ng-click="resetRoute()">
        <span class="glyphicon glyphicon-remove"></span> Limpar
      </button>
    </div>
  </div>
</div>

<div resizable ng-style="{ width: windowWidth, height: windowHeight - 70 }" id="map"></div>
